<div class="container">

    <div class="row">

        <div class="col-md-4">

            <div class="page-header">
                <a href="#/home" class="glyphicon glyphicon-repeat listHeader" ng-click="reload()"> Links</a>
                <input class="searchInput" type="text" data-ng-model="search" placeholder="Search"/>
                <span><a href="#/home" class="glyphicon glyphicon-remove" ng-click="clearFilter()"></a></span>
                <a href="#/new" class="glyphicon glyphicon-pencil pull-right listHeader"> New</a>
            </div>

            <div data-ng-repeat="link in links | dataFilter:search" class="listLinks">

                <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementVotes(link)">{{link.rating}}</span>
                <a href="#/links/{{link.id}}"><span class="glyphicon glyphicon-ok-circle"></span></a>
                <a ng-show="link.link" href="#" ng-click="select(link)">{{link.description | limitTo:24 }}</a>
                <span ng-hide="link.link">{{link.description}}</span>
                <a href="#"><span class="glyphicon glyphicon-remove-circle" ng-click="deleteLink(link)"></span></a>

            </div>

            <hr>

        </div>

    </div>

</div>